.app-hanouti .product-preview-wrapper {
    /*z-index: -100;
    */
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #3636367d;
    transition: all 300ms ease-in;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
}

.product-preview-wrapper .product-preview-container {
    position: relative;
    display: grid;
    grid-template-columns: 60rem 1fr;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--color-white-primary);
    min-width: 100rem;
    height: 60rem;
    transform: translate(-150%, 50%) rotate(-90deg);
    -webkit-transform: translate(-150%, 50%) rotate(-90deg);
    -moz-transform: translate(-150%, 50%) rotate(-90deg);
    -ms-transform: translate(-150%, 50%) rotate(-90deg);
    -o-transform: translate(-150%, 50%) rotate(-90deg);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transition: all 300ms 100ms ease-in;
    -webkit-transition: all 300ms 100ms ease-in;
    -moz-transition: all 300ms 100ms ease-in;
    -ms-transition: all 300ms 100ms ease-in;
    -o-transition: all 300ms 100ms ease-in;
}

.app-hanouti .product-preview-wrapper.open {
    z-index: 1000;
    visibility: visible;
    opacity: 1;
}

.app-hanouti .product-preview-wrapper.open>.product-preview-container {
    transform: translate(-50%, -50%) rotate(0);
    -webkit-transform: translate(-50%, -50%) rotate(0);
    -moz-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    -o-transform: translate(-50%, -50%) rotate(0);
}

.product-preview-wrapper .product-preview-container .img-container {
    height: 60rem;
    background-color: red;
    border-radius: 1rem 0 0 1rem;
    -webkit-border-radius: 1rem 0 01 1rem;
    -moz-border-radius: 1rem 0 01 1rem;
    -ms-border-radius: 1rem 0 01 1rem;
    -o-border-radius: 1rem 0 01 1rem;
}

.product-preview-wrapper .product-preview-container .img-container img {
    width: 100%;
    height: 100%;
}

.product-preview-wrapper .product-preview-container .details-container {
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    min-width: 40rem;
    height: 100%;
    overflow: hidden;
}

.product-preview-wrapper .product-preview-container .details-container .product-name {
    line-height: 3.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.product-preview-wrapper .product-preview-container .details-container .product-stars {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rating {
    unicode-bidi: bidi-override;
    color: var( --color-black-light);
    text-shadow: 0px 1px 0 var(--color-black-light);
    width: min-content;
    margin-right: 1.5rem;
    position: relative;
}

.rating-upper {
    width: fit-content;
    color: var(--color-orange-primary);
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating-lower {
    padding: 0;
    display: flex;
    z-index: 0;
}

.product-preview-wrapper .product-preview-container .details-container .product-stars .review-count {
    font-size: 1.6rem;
    font-weight: 500;
}

.product-preview-wrapper .product-preview-container .details-container .bottom {
    height: 100%;
}

.product-preview-wrapper .product-preview-container .details-container .bottom .product-price {
    width: 100%;
    margin: 5rem 0;
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
}

.product-preview-wrapper .product-preview-container .details-container .bottom .product-price>.off-price {
    display: none;
}

.product-preview-wrapper .product-preview-container .details-container .bottom .product-price.off>.off-price {
    display: inline;
}

.product-preview-wrapper .product-preview-container .details-container .bottom .product-price.off>.real-price {
    font-weight: 500;
    text-decoration: line-through;
    color: var(--color-black-light);
    margin-left: 1rem;
}

.product-preview-wrapper .product-preview-container .details-container .bottom .product-add-cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 100%;
}

.product-preview-wrapper .product-preview-container .details-container .bottom .product-add-cart * {
    height: 100%;
}

.product-preview-wrapper .product-preview-container .details-container .bottom .product-add-cart select {
    cursor: pointer;
    min-width: 10rem;
    font-size: 1.8rem;
    padding: 0 .5rem;
    border: none;
    -webkit-appearance: button;
    margin-right: 2rem;
    background-color: var(--color-grey-primary);
}

.product-preview-wrapper .product-preview-container .details-container .bottom .product-add-cart button {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 2rem;
    width: 20rem;
    border: 2px solid var(--color-orange-primary);
    background-color: var(--color-orange-primary);
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.product-preview-wrapper .product-preview-container .details-container .bottom .product-add-cart button>span {
    display: block;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    color: var(--color-white-light);
}

.product-preview-wrapper .product-preview-container .details-container .bottom .product-add-cart button>span:first-child {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.product-preview-wrapper .product-preview-container .details-container .bottom .product-add-cart button>span:last-child {
    font-size: 2rem;
    margin-left: 2rem;
}

.product-preview-wrapper .product-preview-container .details-container .bottom .product-add-cart button:hover>span:first-child {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

.product-preview-wrapper .product-preview-container button.clear {
    cursor: pointer;
    pointer-events: all;
    position: absolute;
    right: -2rem;
    top: -2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid var(--color-grey-primary);
    background-color: var(--color-grey-primary);
    color: var(--color-black-primary);
    font-size: 2.5rem;
    font-weight: 600;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.product-preview-wrapper .product-preview-container button.clear:active {
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -moz-transform: scale(.95);
    -ms-transform: scale(.95);
    -o-transform: scale(.95);
}

.product-preview-wrapper .product-preview-container button.clear:hover {
    color: var(--color-red-error);
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}