.container > .content {
  margin-top: 5rem !important;
}

.container > .content > .store-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.container > .content > .store-container > .img-container {
  width: 50%;
  min-width: 30rem;
  height: 35rem;
  overflow: hidden;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.container > .content > .store-container > .img-container > .no-img {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container > .content > .store-container > .content-container {
  padding: 1rem 0 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container > .content > .store-container > .content-container > .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.container > .content > .store-container > .content-container > .top .name {
  font-size: 2.5rem;
  font-weight: 500;
  max-width: 40rem;
}

.container > .content > .store-container > .content-container > .top .followers {
  font-size: 1.6rem;
  font-weight: 400;
}

.container > .content > .store-container > .content-container > .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container > .content > .store-container > .content-container > .bottom button {
  cursor: pointer;
  padding: .5rem 2.5rem;
  font-size: 2rem;
  font-weight: 200;
  background-color: #ff8409;
  border: none;
  transition: all 200ms ease;
  border-radius: .2rem;
  color: var(--color-white-light);
  -webkit-border-radius: .2rem;
  -moz-border-radius: .2rem;
  -ms-border-radius: .2rem;
  -o-border-radius: .2rem;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
}

.container > .content > .store-container > .content-container > .bottom button:active {
  transform: scale(0.98);
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -ms-transform: scale(0.98);
  -o-transform: scale(0.98);
}

.container > .content > .store-container > .content-container > .bottom > .founder > .name {
  font-weight: 600;
}
/*# sourceMappingURL=store.css.map */